<h1>Violations by Category</h1>
<canvas id="chart" width="400" height="300"></canvas>
<h1>Ealiest and Latest Violations in Each Category</h1>
  <div class="white">
    <div id="timesheet"></div>
  </div>
